<%- include('partials/header.ejs', {seo:data.seo,data:data}) %>
    <%- include('partials/nav.ejs') %>
        <header
            class="lg:text-clamp-lg md:text-clamp-md xl:text-clamp-xl 2xl:text-clamp-2xl sm:text-clamp-sm text-clamp-xs uppercase leading-[0.5]">
            <div class="flex p-[0.42rem] md:p-[2rem] justify-between border-b-[0.0625rem] border-white">
                <h1><%= data.work.project_name %></h1>
            </div>
        </header>
        <div class="
uppercase leading-[0.5]
outline-[0.0625rem] outline-white outline py-[2.8rem] px-[0.72rem] md:p-[2.88rem]
grid md:grid-cols-2 grid-cols-5 gap-[1.44rem]">
        <% data.work.project_images.data.forEach((img,key)=>{ %>
            <div class="flex-grow col-span-5 <% if (data.work.single_image_grid){ %> md:col-span-2<% }else{ %> md:col-span-1 <% } %>">
                <img src="<%= data.strapiURL + img.attributes.url %>" alt="<%= img.attributes.alternativeText %>" class="w-full h-full object-cover">
            </div>
        <% }) %>
        <% if (data.work.project_images.data.length%2!=0 && !data.work.single_image_grid) { %>
            <div class="flex-grow hidden md:block md:col-span-1"></div>
        <% } %>
            <div class="md:mt-[2.1rem] col-span-3 md:col-span-1 -order-2 md:order-none flex flex-col justify-between">
                <p class="md:text-[1.5rem] leading-none normal-case font-normal pb-10">
                    <%= data.work.project_description %>
                </p>
                <p class="md:text-base capitalize leading-none text-xs font-light">
                    <% data.work.software_used.forEach((skill,key1)=>{ %><% if (key1>0) {%> // <% } %><%= skill.title %><% }) %>
                </p>
            </div>
            <div class="-order-1 md:order-none justify-between md:mt-[2.1rem] flex flex-col items-end gap-y-[6.25rem] col-span-2 md:col-span-1">
                <div class="text-[1.5rem] md:text-[2.5rem] leading-[0.9] text-right italic font-thin">
                    <div><% if (data.work.month_creation<10){ %>0<% } %><%= data.work.month_creation %></div>
                <div><%= data.work.year_creation%></div>
                </div>
                <div class="justify-self-end text-center space-y-[0.31rem] md:space-y-0 md:flex gap-[1.19rem]">
                    <% data.work.skill_used.forEach((skill,key1)=>{ %>
                    <div class="px-[0.63rem] py-[0.93rem] md:text-base text-[0.53044rem] border-[0.53px] rounded-[1.92288rem] border-white leading-[1] skilltab min-w-[7rem] md:min-w-0 md:min-h-[11rem]">
                        <%= skill.title %>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>

        <%- include('partials/footer.ejs', {contact:data.contact}) %>